@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
}

header{
    background-color: rgba(26,26,29,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 155px;
    padding-right: 20px;
    padding-left: 20px;
}

#imglogonav{
    width: 350px;
}

.navDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: white;
}

.navIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navIcons img{
    width: 84px;
}
#bleu{
    background-color: rgba(51,77,92,255);
    height: 300px;
    display: flex;
    justify-content: space-between;
}
#boite{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 75px;
}
#boite img{
    height: 200px;
}
#titre{
    color: white;
    width: 75%;
    margin: 75px;
}

#titre h2{
    font-size: 70px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}
#titre h4{
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}
#secteclo h2{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 100px;
    background-color:rgba(51,77,92,255) ;
    color: white;
    font-weight: 400;
}
#secteclo{
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secteclo img{
    height: 280px;
    margin-right: 190px;
}
#diveclo{
    display: flex;
}
#diveclo p{
    font-size: 25px;
    margin-left: 50px;
}
#divevo{
    font-size: 25px;
    margin-left: 50px;
    display: flex;
}
#divenvol{
    font-size: 25px;
    display: flex;
}
#divenvol img{
    margin-left: 140px;
}
#divenvol p{
    font-size: 24px;
    margin-right: 80px;
    margin-left: 80px;
}
#divevo img{
    height: 280px;
    margin-right: 270px;
}
#divicon{
    height: 230px;
    background-color: rgba(234,227,214,255); 
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}
#divicon2{
    background-color: rgba(234,227,214,255); 
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#divicon2 > div:first-of-type{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-top: 50px;
}
#divicon2 > div:last-of-type{
    margin-bottom: 30px;
}

#dicon img{
    height: 120px;
}
#dicon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer{
    background-color: rgba(57,58,59,255);
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
#foot{
    display: flex;
    justify-content: space-around;
}
#foot1 {
    display: flex;
    gap: 20px;
}
#foot2 {
    display: flex;
    gap: 20px;
}
#foot3 {
    display: flex;
    gap: 20px;
}
#foot1 img{
    width: 60px;
}
#foot2 img{
    width: 60px;
}
#foot3 img{
    width: 60px;
}
#cgv{
    font-size: 14px;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 20px;
    color: grey;
}
footer section div div p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}